h2 NewsLetter
- var n=data.length;
- for (var i=0; i<n; i++) {
hr
h3 #{data[i].tt_text}
h5 #{data[i].datetime} #{data[i].author.name} 
img(src=data[i].original_pic.url, width=150)
p #{data[i].description}
-}